# Onyx
.vscode/
.vs/
*build*/
onyx/shaders/bin/
demo-utils/meshes*/
.venv/
.DS_Store
.clangd
.cache/
imgui.ini
docs/html/
docs/latex/
__pycache__/
reminders.txt
performance/*yaml
performance/results/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
