# Onyx
.vscode/
*build*/
onyx/shaders/bin/
.venv/
.DS_Store
imgui.ini
docs/html/
docs/latex/
__pycache__/
.cache/
demo-utils/meshes3/
demo-utils/meshes2/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
